.main-menu {
  width: 100%;
  display: block;
}
.main-menu {
  font-size: 1rem;
  background-color: var(--base-color);
  width: 100%;
}
.navbar {
  margin-left: -15px; /* сброс падинг от ссылок */
  justify-content: center;
}
nav ul {
  list-style: none; /* убираем маркеры */
  margin: 0; /* убираем системые отступы */
  padding: 0;
  display: flex;
  flex-flow: row wrap; /* если не помещается, то переход на новую строку */
  justify-content: flex-start;
  align-items: center;
}
.nav-item a {
  display: block;
  color: #ffffffbf;
}
.nav-item a:hover,
.nav-item a:active {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 768px) {
  .main-menu .container {
    padding: 0;
  }
  .navbar ul {
    flex-flow: column wrap;
    justify-content: center;
    justify-content: space-around;
  }
}

.social {
  display: flex;
  justify-content: space-around;
  div {
    max-width: 100%;
    margin-right: 20px;
  }
}

.avatar-hello {
  display: flex;
  max-width: 100%;
  align-items: center;
  .avatar-image {
    max-width: 40%;
    margin-right: 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}