input{
	background: #f0f4f5;
}

body{
	color: #000;
}


.forms{
	height: auto;
}

.fb{
	padding-right: 0px;
	margin-top: 30px;
}

.fb img{
	float: right;
}

.tooltip{
	font-size: 18px;
	font-weight: 100;
	font-family: Rubik;
}

.fbinfo{
	float: right;
}

.back{
	padding-left: 0px;
	margin-top: 40px;
}

.back a{
	color: #000;
	font-weight: 600;
	font-size: 20px;
	text-decoration: none;
}

.back a:hover{
	color: #000;
	text-decoration: underline;
}


.stepsForm {
	width: 100%;
	height: auto;
	box-sizing: border-box;
	line-height:1;
	font-family: Rubik;
}
.stepsForm .sf-error{
	border:solid 1px #C00 !important;
}
.stepsForm .sf-error+span{
	border-color:#C00 !important;
}
.stepsForm #sf-msg{
	display:inline-block;
	position: relative;
	top: -30px;
	right: 20px;
}
.stepsForm .sf-msg-error{
	color:#c00;
}
.stepsForm .sf-msg-success{
	color:#090;
}
.stepsForm .sf-steps {
	width: 100%;
	box-sizing: border-box;
	height: auto;
	padding: 0 1rem;
}
.stepsForm .sf-steps .sf-steps-content {
	width: 100%;
	box-sizing: border-box;
	font-size:18px;
}
.stepsForm .sf-steps-content>div{
	display:inline-block;
	cursor:pointer;
	position:relative;
	overflow:hidden;
	width: 20px;
	height: 20px;
	background: #bbb;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	left: 83%;
	top: 60px;

}

.stepsForm .sf-steps-content>div.sf-active{
	background:#2096cd;
}
.stepsForm .sf-steps-content>div>span{
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	background:#AAA;
	padding:0.8rem 1rem;
	font-size:24px;
}
.stepsForm .sf-steps-content>div>i{
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	background:url(../img/sf-steps-activated.png) center no-repeat;
	padding:1rem;
}
.stepsForm .sf-steps-content>div.sf-active>span{
	background:#1b7fad;
}
.stepsForm .sf-steps-content>div>span:after{
  content: '';
  display: block;
  width: 10px;
  position: absolute;
  right: -10px;
  height: 100%;
  top: 0;
  background: url('data:image/svg+xml; charset=utf-8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 20" preserveAspectRatio="none"><path d="m0,0 l10,10 l-10,10 l-0,-20z" stroke-width="1.5" fill="#AAA"/></svg>') 0 0 no-repeat;
}
.stepsForm .sf-steps-content>div.sf-active>span:after{
  background: url('data:image/svg+xml; charset=utf-8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 20" preserveAspectRatio="none"><path d="m0,0 l10,10 l-10,10 l-0,-20z" stroke-width="1.5" fill="#1b7fad"/></svg>') 0 0 no-repeat;
}

.stepsForm .sf-steps-form{
	display:block;
	position:relative;
	
}

.stepsForm .sf-steps-navigation{
	padding:0 1rem;
}

.stepsForm .sf-button{
	height: 77px;
	width: 160px;
	border:none;
	outline:none;
	cursor:pointer;
	background: url(../img/next.png) no-repeat;
	background-position: top;
	margin-top: 30px;
}
.stepsForm .sf-button:hover{
	background: url(../img/next.png) no-repeat;
	background-position: bottom;
}


.stepsForm .sf-content {
	width: 100%;
	box-sizing: border-box;
	display: none;
	overflow: hidden;
	padding: 0;
	margin: 0;
	list-style-type: none;
	margin-top: 30px;
}
.stepsForm .sf-content>li {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 2rem;
	padding: 3px 0;
}
.stepsForm input[type=text],.stepsForm input[type=tel],.stepsForm input[type=email], .stepsForm input[type=password], .stepsForm input[type=file] {
	width: 100%;
	box-sizing: border-box;
	padding: 1rem;
	border: none;
	border-bottom: 4px solid #51176c;
	outline: none;
}
.stepsForm textarea {
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	padding: 1rem;
	border: solid 1px #CCC;
	outline: none;
	overflow: auto;
}

.stepsForm .sf-radio, .stepsForm .sf-check {
	width: 100%;
	height: auto;
	padding: 1rem 0;
}
.stepsForm .sf-radio label, .stepsForm .sf-check label {
	display: inline-block;
	margin-right: 20px;
}
.stepsForm .sf-radio label input[type=radio], .stepsForm .sf-check label input[type=checkbox] {
	position: absolute;
	pointer-events: none;
	opacity: 0;
	margin: 0;
	padding: 0;
	height: 10px
}
.stepsForm .sf-radio label input[type=radio]+span, .stepsForm .sf-check label input[type=checkbox]+span {
	display: inline-block;
	width: 18px;
	height: 18px;
	background-color: #fff;
	border: 1px solid #cecece;
	text-align: center;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.stepsForm .sf-radio label input[type=radio]+span::after, .stepsForm .sf-check label input[type=checkbox]+span::after {
	content: "";
	display: inline-block;
	opacity: 0;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-ms-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms
}
.stepsForm .sf-radio label input[type=radio]:focus+span, .stepsForm .sf-check label input[type=checkbox]:focus+span, .stepsForm .sf-radio label input[type=radio]:active+span, .stepsForm .sf-check label input[type=checkbox]:active+span {
	border-color: #2096cd
}
.stepsForm .sf-radio label input[type=radio]:checked+span::after, .stepsForm .sf-check label input[type=checkbox]:checked+span::after {
	opacity: 1
}
.stepsForm .sf-radio label input[type=radio].error+span, .stepsForm .sf-check label input[type=checkbox].error+span {
	border-color: #e2513f;
	border-width: 2px
}
.stepsForm .sf-radio label input[type=radio]+span {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.stepsForm .sf-radio label input[type=radio]+span::after {
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	background-color: #2096cd
}
.stepsForm .sf-radio label input[type=radio]:checked+span::after {
	border: .2em solid #fff
}
.stepsForm .sf-check label input[type=checkbox]+span {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.stepsForm .sf-check label input[type=checkbox]+span::after {
	height: 45%;
	width: 75%;
	background-color: transparent;
	border: 0 solid #2096cd;
	vertical-align: bottom;
	-webkit-transform: rotate(-45deg) translate(50%, -75%);
	-moz-transform: rotate(-45deg) translate(50%, -75%);
	-ms-transform: rotate(-45deg) translate(50%, -75%);
	-o-transform: rotate(-45deg) translate(50%, -75%);
	transform: rotate(-45deg) translate(50%, -75%)
}
.stepsForm .sf-check label input[type=checkbox]:checked+span::after {
	border-left-width: .2em;
	border-bottom-width: .2em
}

.stepsForm input, .stepsForm select, .stepsForm textarea, .stepsForm button {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.stepsForm .sf_columns {
	min-height: 30px;
	display: inline-block;
	padding: 0 1rem;
	box-sizing: border-box;
	float: left;
}
.sf-align-right{
	text-align:right;
}

.sf-align-center{
	text-align:center;
}
.sf-align-center>span#sf-msg{
	display:block;
	clear:both;
	margin:0 auto;
}
.sf-align-center>button{
	display:block;
	clear:both;
	margin:0 auto;
	margin-bottom:10px;
}

.stepsForm .column_6 {
	width: 100%;
}

.sf-theme-purple .sf-steps .sf-steps-content{
	border-color:#37b0fd;
}
.sf-theme-purple .sf-steps .sf-steps-content>div.sf-active{
	background:#51176c;
}
.sf-theme-purple .sf-steps .sf-steps-content>div.sf-active>span
{
	background:#37b0fd;
}
.sf-theme-purple .sf-steps .sf-steps-content>div.sf-active>span:after{
	background: url('data:image/svg+xml; charset=utf-8,<svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 20" preserveAspectRatio="none"><path d="m0,0 l10,10 l-10,10 l-0,-20z" stroke-width="1.5" fill="#60478a"/></svg>') 0 0 no-repeat;
}
.sf-theme-purple .sf-radio label input[type=radio]:focus+span, .sf-theme-purple .sf-check label input[type=checkbox]:focus+span, .sf-theme-purple .sf-radio label input[type=radio]:active+span, .sf-theme-purple .sf-check label input[type=checkbox]:active+span {
	border-color: #795aac;
}
.sf-theme-purple .sf-radio label input[type=radio]+span::after {
	background-color: #795aac;
}
.sf-theme-purple .sf-check label input[type=checkbox]+span::after {
	border-color:#795aac;
}


.ttl-name{
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
}

.ttl-name span{
	font-size: 36px;
	color: #d52b2b;
}

.name{
	font-size: 30px;
	margin-top: 30px;
}

.ttl-email{
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
}

.ttl-email span{
	font-size: 36px;
	color: #d52b2b;
}

.email{
	font-size: 30px;
	margin-top: 30px;
}


label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	float: left;
	border: 0px;
	outline: 0px;
}
input[type=radio] {
	display: none;
}

.mac-form:before {
	content: "";
	display: inline-block;

	width: 136px;
	height: 136px;

	position: absolute;
	left: 0;
	top: -10px;
	background: url(../img/mac-form.png);
	background-position: top;
}

.key-form:before {
	content: "";
	display: inline-block;

	width: 136px;
	height: 136px;

	position: absolute;
	left: 0;
	top: -10px;
	background: url(../img/key-form.png);
	background-position: top;
}


.code-form:before {
	content: "";
	display: inline-block;

	width: 136px;
	height: 136px;

	position: absolute;
	left: 0;
	top: -10px;
	background: url(../img/code-form.png);
	background-position: top;
}

.diamond-form:before {
	content: "";
	display: inline-block;

	width: 136px;
	height: 136px;

	position: absolute;
	left: 0;
	top: -10px;
	background: url(../img/diamond-form.png);
	background-position: top;
}

.hand-form:before {
	content: "";
	display: inline-block;

	width: 136px;
	height: 136px;

	position: absolute;
	left: 0;
	top: -10px;
	background: url(../img/hand-form.png);
	background-position: top;
}

input[type=radio]:checked + label:before {
    background-position: bottom;
}

		

.service{
	text-align: left;
	padding-left: 0px;
	margin-top: 40px;
	height: 136px;
}

.ttl-work{
	float: lefst;
	font-size: 21px;
	margin-left: 155px;
	margin-top: 50px;
}

.info-work{
	color: #37b0fd;
	position: relative;
	left: 155px;
	float: left;
}

.ttl-massage{
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
}

.ttl-massage span{
	font-size: 36px;
	color: #d52b2b;
}

.massage{
	font-size: 30px;
	margin-top: 30px;
	max-width: 100%;
}

.ttl-service{
	font-size: 36px;
	text-transform: uppercase;
	font-weight: bold;
}


.ttl-service span{
	font-size: 36px;
	color: #d52b2b;
}

.fbmob{
	display: none; 
}
.fbfull{
	display: block; 
}