.user-rating {
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .user-image {
    max-width: 22%;
    margin-right: 20px;
  }
  div .scale {
    margin-bottom: 0;
  }
}
.user-meta-image {
  display: flex;
}