/* 
*
  ========================================================================== 
  Styles
  ========================================================================== 
*
*/

:root {
  --base-color: #4F176B;
  --base-yellow: #FDD003;
  --base-green: #A4FD01;
  --base-red: #9A0000;
  --grey-color: #f0f4f5;
}